{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Skills - My Portfolio{% endblock %}
{% block content %}
<h1>Skills</h1>
<ul class="list-group">
  <!-- TODO: Update these items to reflect your actual skills -->
  <li class="list-group-item">HTML & CSS</li>
  <li class="list-group-item">JavaScript & jQuery</li>
  <li class="list-group-item">Python & Django</li>
  <li class="list-group-item">Responsive Design</li>
  <li class="list-group-item">Version Control (Git)</li>
</ul>
{% endblock %}
